<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title> KXT 'DEMY - Membership</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="images/favicon.png">
		
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link href="css/night-mode.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">	
		
	</head> 

<body>
	<!-- Header Start -->
	<header class="header clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="back_link">
						<a href="{% url 'authentication:login' %}" class="hde151">Back To KXT 'DEMY</a>
						<a href="{% url 'authentication:home' %}" class="hde152">Back</a>
					</div>
					<div class="ml_item">
						<div class="main_logo main_logo15" id="logo">
							<a href="index.html"><img src="images/main_logo.png" alt=""></a>
							<a href="index.html"><img class="logo-inverse" src="images/ct_logo.svg" alt=""></a>
						</div>				
					</div>				
					<div class="header_right pr-0">
						<ul>				
							<li class="ui top right pointing dropdown">
								<a href="#" class="opts_account">
									<img src="images/hd_dp.jpg" alt="">
								</a>
								<div class="menu dropdown_account">
									<div class="channel_my">
										<div class="profile_link">
											<img src="images/hd_dp.jpg" alt="">
											<div class="pd_content">
												<div class="rhte85">
													<h6>Moses Olabode</h6>
													<div class="mef78" title="Verify">
														<i class='uil uil-check-circle'></i>
													</div>
												</div>
												<span>moses_olabode@kxtdemy.com</span>
											</div>							
										</div>
										<a href="my_instructor_profile_view.html" class="dp_link_12">View Instructor Profile</a>
									</div>
									
									<a href="instructor_dashboard.html" class="item channel_item"> My Dashboard</a>						
									<a href="sign_in.html" class="item channel_item">Sign Out</a>
								</div>
							</li>
						</ul>
					</div>		
				</div>		
			</div>
		</div>
	</header>
	<!-- Header End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586 _new89">		
		<div class="_215b15">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="title125">						
							<div class="titleleft">					
								<div class="ttl121">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Membership</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
						<div class="title126">	
							<h2>Available Membership</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="memb4d25">
			<div class="container">			
				<div class="row">
					<div class="col-md-6">						
						<div class="membership_bg">
							<div class="membership_title">
								<div class="membership__left">
									<h2>Regular Membership</h2>
									<div class="memmbership_price">$49/month</div>
									<div class="save_price">One time payment</div>
								</div>
								<div class="membership__right">
									<img src="images/membership/icon-1.svg" alt="">
								</div>							
							</div>
							<div class="membership_des">
								<p>List of items in this Membership are listed below.</p>
							</div>
							<div class="panel-group accordion" id="accordion0">
								<div class="panel panel-default">
									<div class="panel-heading" id="headingsix">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsesix" href="#" aria-expanded="false" aria-controls="collapsesix">
												<i class="uil uil-check chck_icon"></i>Membership
											</a>
										</div>
									</div>
									<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" data-parent="#accordion0">
										<div class="panel-body">With this plan you become an approved member of KST 'DEMY </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingOne">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#" aria-expanded="false" aria-controls="collapseOne">
												<i class="uil uil-check chck_icon"></i>Limited Webinars
											</a>
										</div>
									</div>
									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0">
										<div class="panel-body"> You will learn updated contents about behavior, why trades were won and lost and one of the best entry/exit triggers from live trading experts.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingTwo">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#" aria-expanded="false" aria-controls="collapseTwo">
												<i class="uil uil-check chck_icon"></i>Limited Video Lessons
											</a>
										</div>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion0">
										<div class="panel-body">Get explanatory video tutorials on forex trading and all that deals with having successful trading.	 </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingThree">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
												<i class="uil uil-check chck_icon"></i>Limited Audio Note
											</a>
										</div>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion0">
										<div class="panel-body">Get explanatory audio notes that will channel you towards having a successful trading with little or no loss.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingfour">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefour" href="#" aria-expanded="false" aria-controls="collapsefour">
												<i class="uil uil-check chck_icon"></i>Members Room
											</a>
										</div>
									</div>
									<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion0">
										<div class="panel-body">Discuss, share ideas, connect, ask questions, interact</div>
									</div>
								</div>
			
								<div class="panel panel-default-1">
									<div class="panel-heading">
										<div class="panel-title-1">
											<a class="collapsed">
												<i class="uil uil-times chck_icon_1"></i>7-days-a-week Support
											</a>
										</div>
									</div>
								</div>
								<div class="panel panel-default-1">
									<div class="panel-heading">
										<div class="panel-title-1">
											<a class="collapsed">
												<i class="uil uil-times chck_icon_1"></i>Monthly Trades Analysis Videos
											</a>
										</div>
									</div>
								</div>
								<div class="panel panel-default-1">
									<div class="panel-heading">
										<div class="panel-title-1">
											<a class="collapsed">
												<i class="uil uil-times chck_icon_1"></i>Market Behavior and Improvements

											</a>
										</div>
									</div>
								</div>

								<div class="panel panel-default-1">
									<div class="panel-heading">
										<div class="panel-title-1">
											<a class="collapsed">
												<i class="uil uil-times chck_icon_1"></i>Signals

											</a>
										</div>
									</div>
								</div>

								<div class="panel panel-default-1">
									<div class="panel-heading">
										<div class="panel-title-1">
											<a class="collapsed">
												<i class="uil uil-times chck_icon_1"></i>Signals Education 

											</a>
										</div>
									</div>
								</div>
								
							</div>
							<button class="prmb_btn">Purchase Membership</button>
						</div>
					</div>
					<div class="col-md-6">						
						<div class="membership_bg">
							<div class="membership_title">
								<div class="membership__left">
									<h2>VIP Membership</h2>
									<div class="memmbership_price">$99/month</div>
									<div class="save_price">Monthly Renewal</div>
								</div>
								<div class="membership__right">
									<img src="images/membership/icon-2.svg" alt="">
								</div>							
							</div>
							<div class="membership_des">
								<p>List of items in VIP Membership are listed below.</p>
							</div>
							<div class="panel-group accordion" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading" id="headingOne1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseOne1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
												<i class="uil uil-check chck_icon"></i>Membership
											</a>
										</div>
									</div>
									<div id="collapseOne1" class="panel-collapse collapse" aria-labelledby="headingOne1" data-parent="#accordion1">
										<div class="panel-body">With this plan you become an approved member of KST 'DEMY</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingTwo1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo1" href="#" aria-expanded="false" aria-controls="collapseTwo1">
												<i class="uil uil-check chck_icon"></i>Unlimited Webinars
											</a>
										</div>
									</div>
									<div id="collapseTwo1" class="panel-collapse collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
										<div class="panel-body">You will learn updated contents about behavior, why trades were won and lost and one of the best entry/exit triggers from live trading experts.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingThree1">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseThree1" href="#" aria-expanded="false" aria-controls="collapseThree1">
												<i class="uil uil-check chck_icon"></i>Unlimited Video Lessons							
											</a>
										</div>
									</div>
									<div id="collapseThree1" class="panel-collapse collapse" aria-labelledby="headingThree1" data-parent="#accordion1">
										<div class="panel-body">Get explanatory video tutorials on forex trading and all that deals with having successful trading.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingfour1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefour1" href="#" aria-expanded="false" aria-controls="collapsefour1">
												<i class="uil uil-check chck_icon"></i>Unlimited Audio Note
											</a>
										</div>
									</div>
									<div id="collapsefour1" class="panel-collapse collapse" aria-labelledby="headingfour1" data-parent="#accordion1">
										<div class="panel-body">Get explanatory audio notes that will channel you towards having a successful trading with little or no loss.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingfive1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefive1" href="#" aria-expanded="false" aria-controls="collapsefive1">
												<i class="uil uil-check chck_icon"></i>Members Room				
											</a>
										</div>
									</div>
									<div id="collapsefive1" class="panel-collapse collapse" aria-labelledby="headingfive1" data-parent="#accordion1">
										<div class="panel-body">Discuss, share ideas, connect, ask questions, interact</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingsix1">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsesix1" href="#" aria-expanded="false" aria-controls="collapsesix1">
												<i class="uil uil-check chck_icon"></i>7-days-a-week Support											
											</a>
										</div>
									</div>
									<div id="collapsesix1" class="panel-collapse collapse" aria-labelledby="headingsix1" data-parent="#accordion1">
										<div class="panel-body">Get real time support on trading. </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingseven1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseseven1" href="#" aria-expanded="false" aria-controls="collapseseven1">
												<i class="uil uil-check chck_icon"></i>Monthly Trades Analysis Videos
											</a>
										</div>
									</div>
									<div id="collapseseven1" class="panel-collapse collapse" aria-labelledby="headingseven1" data-parent="#accordion1">
										<div class="panel-body"></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingeight1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseeight1" href="#" aria-expanded="false" aria-controls="collapseeight1">
												<i class="uil uil-check chck_icon"></i>Market Behavior and Improvements
											</a>
										</div>
									</div>
									<div id="collapseeight1" class="panel-collapse collapse" aria-labelledby="headingeight1" data-parent="#accordion1">
										<div class="panel-body"></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingnine1">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsenine1" href="#" aria-expanded="false" aria-controls="collapsenine1">
												<i class="uil uil-check chck_icon"></i>Signals
											</a>
										</div>
									</div>
									<div id="collapsenine1" class="panel-collapse collapse" aria-labelledby="headingnine1" data-parent="#accordion1">
										<div class="panel-body">Risk management updates diary and trade signals.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingten1">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseten1" href="#" aria-expanded="false" aria-controls="collapseten1">
												<i class="uil uil-check chck_icon"></i>Signals Education
											</a>
										</div>
									</div>
									<div id="collapseten1" class="panel-collapse collapse" aria-labelledby="headingten1" data-parent="#accordion1">
										<div class="panel-body">How to manage risk materials </div>
									</div>
								</div>
							</div>
							<button class="prmb_btn">Purchase Membership</button>
						</div>
					</div>	
					<div class="">						
						<div class="membership_bg">
							<div class="membership_title">
								<div class="membership__left">
									<h2>Signals Membership</h2>
									<div class="memmbership_price">$99/month</div>
									<div class="save_price">Monthly / Yearly Renewal</div>
								</div>
								<div class="membership__right">
									<img src="images/signal.png" alt="">
								</div>							
							</div>
							<div class="membership_des">
								<p>List of items in VIP Membership are listed below.</p>
							</div>
							<div class="panel-group accordion" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading" id="headingOne1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseOne1" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
												<i class="uil uil-check chck_icon"></i>Membership
											</a>
										</div>
									</div>
									<div id="collapseOne1" class="panel-collapse collapse" aria-labelledby="headingOne1" data-parent="#accordion1">
										<div class="panel-body">With this plan you become an approved member of KST 'DEMY</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingTwo1">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo1" href="#" aria-expanded="false" aria-controls="collapseTwo1">
												<i class="uil uil-check chck_icon"></i>Signals
											</a>
										</div>
									</div>
									<div id="collapseTwo1" class="panel-collapse collapse" aria-labelledby="headingTwo1" data-parent="#accordion1">
										<div class="panel-body">Risk management updates diary and trade signals.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingThree1">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseThree1" href="#" aria-expanded="false" aria-controls="collapseThree1">
												<i class="uil uil-check chck_icon"></i>Signals Education							
											</a>
										</div>
									</div>
									<div id="collapseThree1" class="panel-collapse collapse" aria-labelledby="headingThree1" data-parent="#accordion1">
										<div class="panel-body">How to manage risk materials.</div>
									</div>
								</div>
							
								
							<button class="prmb_btn">Purchase Membership</button>
						</div>
					</div>				
				</div>
				<div class="row">	
					<div class="col-lg-12">
						<div class="title589 mt-62">
							<h2>Membership FAQ</h2>
							<p>Wait, what about…</p>
						</div>
						<div class="membership_faq_bg">
							<div class="panel-group mt-4 accordion" id="accordion2">
								<div class="panel panel-default">
									<div class="panel-heading"  id="headingOne2">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseOne2" href="#" aria-expanded="false" aria-controls="collapseOne2">
												Is it easy to change Membership?
											</a>
										</div>
									</div>
									<div id="collapseOne2" class="panel-collapse collapse" aria-labelledby="headingOne2" data-parent="#accordion2">
										<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.le VHS.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingTwo2">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo2" href="#" aria-expanded="false" aria-controls="collapseTwo2">
												Can I cancel at any time?
											</a>
										</div>
									</div>
									<div id="collapseTwo2" class="panel-collapse collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
										<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</div>
									</div>
								</div>
								
							
								<div class="panel panel-default">
									<div class="panel-heading" id="headingseven2">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseseven2" href="#" aria-expanded="false" aria-controls="collapseseven2">
												Do I need a credit card to sign up?
											</a>
										</div>
									</div>
									<div id="collapseseven2" class="panel-collapse collapse" aria-labelledby="headingseven2" data-parent="#accordion2">
										<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.le VHS.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingeight2">
										<div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapseeight2" href="#" aria-expanded="false" aria-controls="collapseeight2">
												Is KXT 'DEMY safe and secure for online transactions?
											</a>
										</div>
									</div>
									<div id="collapseeight2" class="panel-collapse collapse" aria-labelledby="headingeight2" data-parent="#accordion2">
										<div class="panel-body">Yes KXT 'DEMY is safe and secure for online transactions as we have the platform secured with SSL.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingnine2">
										 <div class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsenine2" href="#" aria-expanded="false" aria-controls="collapsenine2">
												I still have questions. HELP!
											</a>
										</div>
									</div>
									<div id="collapsenine2" class="panel-collapse collapse" aria-labelledby="headingnine2" data-parent="#accordion2">
										<div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer_bottm">
							<div class="row">
								<div class="col-md-6">
									<ul class="fotb_left">
										<li>
											<a href="index.html">
												<div class="footer_logo">
													<img src="images/favicon2.png" alt="">
												</div>
											</a>
										</li>
										<li>
											<p>© 2020 <strong>KST' DEMY</strong>. All Rights Reserved.</p>
										</li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="edu_social_links">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-instagram"></i></a>
										<a href="#"><i class="fab fa-youtube"></i></a>
									
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- Body End -->

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="vendor/semantic/semantic.min.js"></script>
	<script src="js/custom.js"></script>	
	<script src="js/night-mode.js"></script>	
	
</body>
</html>