{% extends 'members_portal/base.html' %}
<body>
{% block content %}
{% load static %}

<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-12">
						<h2 class="st_title"><i class='uil uil-cog'></i> Setting</h2>
						<div class="setting_tabs">
							<ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-selected="true">Account Setting</a>
								</li>
								</ul>
						</div>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
								
								<div class="account_setting">
									<form method="POST" enctype="multipart/form-data">
										{% csrf_token %}
									<h4>Your KXT 'DEMY Account</h4>
									<p>This is your public presence on KXT 'DEMY'.</p>

									{% if form.errors %}
							<div id="errors">
								<div class="inner">
									<p>There were some errors in the information you entered. Please correct the following:</p>
									<ul>
										{% for field in form %}
											{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- /Error messaging -->
						{% endif %}
									<div class="basic_profile">
										<div class="basic_ptitle">
											<h4>Basic Profile</h4>
											<p>Add information about yourself</p>
										</div>
										<div class="basic_form">
											<div class="row">
												<div class="col-lg-8">
													<div class="row">
														<div class="col-lg-6">
															<div class="ui search focus mt-30">
																<div class="ui left icon input swdh11 swdh19">
																	<input class="prompt srch_explore" type="text" name="name" id="" required="" maxlength="64" placeholder="First Name">															
																</div>
															</div>
														</div>
														<div class="col-lg-6">
															<div class="ui search focus mt-30">
																<div class="ui left icon input swdh11 swdh19">
																	<input class="prompt srch_explore" type="text" name="surname" id="id[surname]" required="" maxlength="64" placeholder="Last Name">															
																</div>
															</div>
														</div>


														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		Upload Profile Image
																	</div>
																	<input class="prompt srch_explore " type="file" name="profile_img" id="id_site" required="" maxlength="64"  placeholder="">
																</div>															
															</div>
														</div>
													
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon input swdh11 swdh19">
																	<input class="prompt srch_explore" type="text" name="profession" value="" id="id_headline" required="" maxlength="60" placeholder="Profession">															
																	<div class="form-control-counter" data-purpose="form-control-counter">36</div>
																</div>
															</div>
														</div>
														<div class="col-lg-12">
															<div class="ui search focus mt-30">																
																<div class="ui form swdh30">
																	<div class="field">
																		<textarea rows="3" name="about" id="id_about" placeholder="Write a little description about you..."></textarea>
																	</div>
																</div>
																<div class="help-block">Links are not permitted in this section.</div>
															</div>
														</div>
														<div class="col-lg-12">
															<div class="divider-1"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="basic_profile1">
										<div class="basic_ptitle">
											<h4>Profile Links</h4>
										</div>
										<div class="basic_form">
											<div class="row">
												<div class="col-lg-8">
													<div class="row">
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		https://
																	</div>
																	<input class="prompt srch_explore" type="text" name="website" id="id_site" required="" maxlength="64"  placeholder="yoursite.com">
																</div>															
															</div>
														</div>
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		http://facebook.com/
																	</div>
																	<input class="prompt srch_explore" type="text" name="facebook" id="id_facebook" required="" maxlength="64"  placeholder="Facebook Profile">																
																</div>
																<div class="help-block">Add your Facebook username (e.g. johndoe).</div>
															</div>
														</div>
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		http://twitter.com/
																	</div>
																	<input class="prompt srch_explore" type="text" name="twitter" id="id_twitter" required="" maxlength="64"  placeholder="Twitter Profile">																
																</div>
																<div class="help-block">Add your Twitter username (e.g. johndoe).</div>
															</div>
														</div>														
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		http://www.linkedin.com/
																	</div>
																	<input class="prompt srch_explore" type="text" name="linkedin" id="id_linkedin" required="" maxlength="64"  placeholder="Linkedin Profile">																
																</div>
																<div class="help-block">Input your LinkedIn resource id (e.g. in/johndoe).</div>
															</div>
														</div>
														<div class="col-lg-12">
															<div class="ui search focus mt-30">
																<div class="ui left icon labeled input swdh11 swdh31">
																	<div class="ui label lb12">
																		+234 XXX XXXX XXX
																	</div>
																	<input class="prompt srch_explore" type="text" name="phone_number" id="id_youtube" required="" maxlength="64"  placeholder="Phone Number">																
																</div>
																<div class="help-block">Input your phone number</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button class="save_btn" type="submit">Save Changes</button>
									</form>
								</div>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</div>
		</div>
	</body>
	
	<!-- Body End -->
{% endblock %}