{% extends 'members_portal/base.html' %}
<body>
{% block content %}
{% load static %}
	<!-- Left Sidebar End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586">
		<div class="_216b01">
			<div class="container-fluid">			
				<div class="row justify-content-md-center">
					<div class="col-md-10">
						<div class="section3125 rpt145">							
							<div class="row">						
								<div class="col-lg-7">
									<a href="{% url 'members_portal:members_profile_settings' %}" class="_216b22">										
										<span><i class="uil uil-cog"></i></span>Setting
									</a>
									<div class="dp_dt150">						
										<div class="img148">
									
											<img src="{{profile_img}}"/>
																	
										</div>
										<div class="prfledt1">
											<h2>{{member.name}} {{member.surname}}</h2>
											<span>{{member.profession}}</span>
										</div>										
									</div>
									<ul class="_ttl120">										
										<li>
											<div class="_ttl121">
												<div class="_ttl122">Favorite Videos</div>
												<div class="_ttl123">{{member.fav_videos}}</div>
											</div>
										</li>
										<li>
											<div class="_ttl121">
												<div class="_ttl122">Favorite Audios</div>
												<div class="_ttl123">{{member.fav_audio}}</div>
											</div>
										</li>
										<li>
											<div class="_ttl121">
												<div class="_ttl122">Favorite Ebooks</div>
												<div class="_ttl123">{{member.fav_ebooks}}</div>
											</div>
										</li>
										<li>
											<div class="_ttl121">
												<div class="_ttl122">Signals Material</div>
												<div class="_ttl123">{{member.signal_materials}}</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="col-lg-5">
									{% if data is False %}
										<a href="{% url 'members_portal:members_profile_settings' %}" class="_216b12">										
											<span><i class="uil uil-cog"></i></span>Setting
										</a>
									{% else %}
										<a href="{% url 'members_portal:members_profile_update' id=user.id %}" class="_216b12">										
											<span><i class="uil uil-cog"></i></span>Setting
										</a>
									{% endif %}
									<div class="rgt-145">
										<ul class="tutor_social_links">
											<li><a href="{{member.facebook}}" class="fb"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="{{member.twitter}}" class="tw"><i class="fab fa-twitter"></i></a></li>
											<li><a href="{{member.linkedin}}" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
										{{member.phone_number}}
									</div>
									
									
									<ul class="_bty149">
										<li><button class="studio-link-btn btn500" onclick="window.location.href = 'student_dashboard.html';">Dashboard</button></li>								
										<li><a href="{% url 'members_portal:members_profile_settings' %}"> <button class="msg125 btn500">Edit</button></a></li>								
									</ul>	
								</div>													
							</div>							
						</div>							
					</div>															
				</div>
			</div>
		</div>
		<div class="_215b15">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">						
						<div class="course_tabs">
							<nav>
								<div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
									<a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">About</a>
								</div>
							</nav>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215b17">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="course_tab_content">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-about" role="tabpanel">
									<div class="_htg451">
										<div class="_htg452">
											<h3>About Me</h3>
											<p>{{member.about}}</p>
										</div>																	
									</div>							
								</div>
								
								
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<!-- Body End -->

	{% endblock %}