{% extends 'registration/base.html' %}

<body class="sign_in_up_bg">
{% block content %}
{% load static %}
{% if validlink %}
	<!-- Signup Start -->
	<div class="container">
		<div class="row justify-content-lg-center justify-content-md-center">
			<div class="col-lg-12">
				<div class="main_logo25" id="logo">
					<a href="index.html"><img src="{% static 'images/main_logo.png' %}" alt=""></a>
					<a href="index.html"><img class="logo-inverse" src="{% static 'images/main_logo2.png' %}" alt=""></a>
				</div>
			</div>
		
			<div class="col-lg-6 col-md-8">
				<div class="sign_form">
					<h2>Change Password</h2>
					<form method="POST">
						{% csrf_token %}

						{% if form.errors %}
						<div id="errors">
							<div class="inner">
								<p>There were some errors in the information you entered. Please correct the following:</p>
								<ul>
									{% for field in form %}
										{% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
						<!-- /Error messaging -->
					{% endif %}

				<!-- {{form}} -->

						<div class="ui search focus mt-50">
							<div class="ui left icon input swdh95">
								<input class="prompt srch_explore" type="password" name="new_password1" value="" id="" required="" maxlength="64" placeholder="New Password">															
								<i class="uil uil-key-skeleton-alt icon icon2"></i>
							</div>
                        </div>
                        
                        <div class="ui search focus mt-50">
							<div class="ui left icon input swdh95">
								<input class="prompt srch_explore" type="password" name="new_password2" value="" id="" required="" maxlength="64" placeholder="Confirm Password">															
								<i class="uil uil-key-skeleton-alt  icon icon2"></i>
							</div>
						</div>
						<button class="login-btn" type="submit">Change Password</button>
					</form>
					<p class="mb-0 mt-30">Go Back <a href="sign_up.html">Sign In</a></p>
				</div>
				<div class="sign_footer"><img src="images/favicon.png" alt="">© 2020 <strong>KXT 'DEMY</strong>. All Rights Reserved.</div>
			</div>				
		</div>				
    </div>	
    {% else %}
        <p>  The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</p>
    {% endif %}			
	{% endblock %}
	

