{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="247dgtbuilders">
		{% block title %} {% endblock %}
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="images/favicon.png">
		
		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
		<link href="{% static 'css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link href="{% static 'css/night-mode.css' %}" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">	
		
    </head> 
    

        {% block content %}

        {% endblock %}


        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
        <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>	
		<script src="{% static 'js/night-mode.js' %}"></script>	
 
</html>